{% extends 'main.html' %}

{% block content %}
  <h2>Forgot Password</h2>
  {% comment %} {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %} {% endcomment %}
  <form method="post" action="{% url 'forgetpassword' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="form-control" required>
    </div>

    <br>

    <input type="submit" name="submit" value="Send Mail"/>
  </form>
{% endblock %}
