{% extends 'main.html'%}

{% block content %}

{% if form == 'Login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Email:</label>
        <input type="text" name="email" placeholder="Enter your Email..." />
    
        <br>
        <br>
    
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your password..." />
    
        <br>
        <br>
    
        <input type="submit" value="Login" />
    </form>
    <div class="checkbox-container">
        <input type="checkbox" id="RememberMe" name="RememberMe">
        <label for ="RememberMe">Remember Me</label>

        <br>

        <a href="{% url 'forgetpassword' %}">Forget Password</a>
    </div>
    <p> Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}

{% comment %} for registration button {% endcomment %}
<div>
    <form method='POST' action=''>
        {% csrf_token %}
        {% comment %} to render out the userform from the view.py {% endcomment %}
        {{form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" value="Create My Account"/>
    </form> 
    <p> Already signed up?</p>
    <a href="{% url 'Login' %}">Login</a>
</div> 

{% endif %}


{% comment %} social media authentication {% endcomment %}

{% endblock content %}