<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media App</title>
    {% comment %} <link rel='stylesheet' type='text/css' media='screen' href='main.css'> {% endcomment %}
      
    
</head>
<body>
    {% include 'navbar.html'%}
    {% comment %} this is gotten from django flash message documentation on google {% endcomment %}
    {% comment %} it is to output any messages we have within the app {% endcomment %}
    {% comment %} {% if messages%}
    <ul class = "messages">
        {% for message in messages %}
        <l1{% if messages.tags %} class="{{ message.tags }}" {% endif %}>{{message}}</l1>
        {% endfor%}
    </ul>
    {% endif %}    

    
    {% block content %}


    {% endblock %} {% endcomment %} 

</body>
</html>